/*Import reset*/
* {
  font-family: 'Roboto', sans-serif; }

header {
  margin: 1rem; }

.suphead {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

.carro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem; }

.suphead-logo {
  margin: 0.6rem; }

.carro-carrito {
  margin: 0.3rem; }
  .carro-carrito button {
    margin: auto auto;
    text-decoration: none;
    color: #636363; }

#btnbuscar:hover {
  background-color: transparent;
  color: black; }

.login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .login button {
    margin: 0.3rem;
    text-decoration: none;
    color: #636363; }

/*NAV BAR*/
nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  nav ul li {
    list-style: none; }
    nav ul li a {
      text-decoration: none; }

.footer-contenedor {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: rgba(23, 23, 23, 0.998);
  color: white;
  height: 12rem; }

.footer-nav, .footer-ubi, .footer-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 1rem; }
  .footer-nav h5, .footer-ubi h5, .footer-icons h5 {
    font-weight: 800; }
  .footer-nav a, .footer-ubi a, .footer-icons a {
    text-decoration: none;
    color: white; }
  .footer-nav a:hover, .footer-ubi a:hover, .footer-icons a:hover {
    text-decoration: underline;
    color: white; }

/*INDEX MAIN*/
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.slide-fwd-center {
  -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 37rem;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 5px outset #000000;
  margin-bottom: 3rem;
  margin-top: 1.5rem; }

.banner h1 {
  color: #383838;
  margin-bottom: 1rem;
  font-family: 'Tiro Devanagari Sanskrit', serif;
  font-size: 8.125rem;
  font-weight: 500;
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.banner p {
  color: #383838;
  font-family: 'Tiro Devanagari Sanskrit', serif;
  font-size: 3.125rem;
  text-align: center; }

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/* CARTAS INDEX */
.card {
  display: block;
  padding: 1rem;
  margin: 0.3rem;
  border: grey solid 2px;
  transition: all .3s ease-in-out; }

.card:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 11px 10px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 10px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 10px 16px 0px rgba(0, 0, 0, 0.75);
  z-index: 2; }

#card__tabacos {
  background-image: url(../../img/tabacos.jpg);
  width: 31.25rem;
  height: 18.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#card__acc {
  background-image: url(../../img/FUMAR-CIGARRILLOS-TABACO-ARMADO-9-75001_600x315.jpg);
  width: 31.25rem;
  height: 18.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#card__habanos {
  background-image: url(../../img/cubano.jpg);
  width: 31.25rem;
  height: 18.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

#card__pipas {
  background-image: url(../../img/pipa_card.jpeg);
  width: 31.25rem;
  height: 18.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#card__armadores {
  background-image: url(../../img/550px-nowatermark-Roll-a-Cigarette-With-a-Cigarette-Roller-Step-3-Version-4.jpg);
  width: 31.25rem;
  height: 18.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#card__news {
  background-image: url(../../img/cubano2.jpg);
  width: 31.25rem;
  height: 18.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.card h3:hover {
  opacity: 1; }

.card h2 {
  align-self: center;
  color: white;
  font-family: 'Tiro Devanagari Sanskrit', serif;
  -webkit-text-stroke: 1px rgba(136, 130, 130, 0.507);
  font-weight: 600; }

.card a {
  text-decoration: none; }

.card a h3 {
  align-self: center;
  display: block;
  text-align: center;
  background-color: rgba(235, 235, 235, 0.781);
  border-radius: 3px;
  width: 150px;
  z-index: 2;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1); }

.contacto-index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem; }
  .contacto-index h2 {
    margin: 1rem; }

.contacto-gral {
  background-color: rgba(0, 0, 0, 0.266);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.65rem; }

.contacto-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem; }
  .contacto-info a {
    text-decoration: none;
    color: black; }
  .contacto-info a:hover {
    text-decoration: underline;
    color: white; }

.form-contacto form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.65rem;
  border: 2px outset #636363;
  border-radius: 10px; }
  .form-contacto form label {
    color: #151515;
    font-weight: 600; }

/*CONTACTO */
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.form_contact {
  width: 50%;
  margin: 2rem;
  background-color: white;
  color: #636363;
  border: 2px solid #636363;
  border-radius: 4px; }

.formcont {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.labelform {
  margin: 10px 10px 10px 10px; }

input, textarea {
  border: 0;
  outline: none;
  padding: 10px; }

.field {
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 7px;
  width: 17rem; }

.field:focus {
  border-color: #797777; }

.imagen {
  max-width: 100%;
  max-height: 100%; }

.cont_nosotros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem; }

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
  margin: 1rem;
  background-color: transparent;
  border: 2px solid #383838;
  border-radius: 10px;
  -webkit-box-shadow: 14px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 10px 5px 0px rgba(0, 0, 0, 0.75); }
  .nosotros p {
    text-align: center; }

/*SECCION PRODUCTOS*/
.productos_all {
  display: flex;
  justify-content: center; }

.categoria_contenedor {
  width: 20rem; }

.list_categorias {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 20rem; }

.list_categorias a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 5px solid #d9ccd9; }

.list_categorias a:hover {
  -webkit-box-shadow: 4px 4px 19px -4px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 4px 4px 19px -4px rgba(0, 0, 0, 0.55);
  box-shadow: 4px 4px 19px -4px rgba(0, 0, 0, 0.55);
  color: #383838; }

.producto_contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.producto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem auto 1rem 1rem;
  padding: 0.4rem;
  width: 15rem;
  background-color: #f5f4f0;
  /*border radius*/
  border-radius: 24px 24px 24px 24px;
  -moz-border-radius: 24px 24px 24px 24px;
  -webkit-border-radius: 24px 24px 24px 24px;
  border: 0px solid #d9ccd9; }

.producto__img {
  align-self: center;
  padding: 0.1rem;
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.producto__img img {
  border-radius: 10px; }

.producto h4 {
  font-size: 1.25rem;
  padding: 0.65rem; }

.producto p {
  text-align: center; }

@media screen and (min-width: 375px) and (max-width: 546px) {
  /*INDEX*/
  .suphead {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
  nav ul {
    flex-wrap: wrap;
    justify-content: center; }
  nav ul li {
    padding: 0.3rem; }
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  /* cambios para el banner index*/
  .banner {
    height: 25rem; }
  .banner h1 {
    font-size: 2.5rem; }
  .banner p {
    font-size: 1.25rem; }
  .banner img {
    max-width: 50%;
    max-height: 50%; }
  /* fin banner index */
  /* cambios cards index */
  .card {
    display: block;
    padding: 1rem;
    margin: 0.3rem;
    border: grey solid 2px;
    transition: all .3s ease-in-out; }
  .card:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 11px 10px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 10px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 10px 16px 0px rgba(0, 0, 0, 0.75);
    z-index: 2; }
  /* fin cambios card index */
  .cont_nosotros {
    display: flex;
    flex-direction: column; }
  .imagen {
    max-width: 100%;
    max-height: 100%; }
  .main__prod {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .sec_productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .sec_categoria ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; }
  .sec_categoria ul li {
    margin-left: 10px;
    margin-right: 10px; }
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .contacto {
    margin: 1rem;
    flex-direction: column;
    align-items: center; }
  .form_contact {
    width: 100%;
    margin: 1rem; }
  .productos_all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  #contenedor--producto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .footer-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto; }
    .footer-contenedor h5 {
      font-weight: 800;
      font-size: 1rem; }
    .footer-contenedor a {
      font-size: 0.8rem;
      text-decoration: none;
      color: white; } }
