.footer-contenedor{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: rgba(23, 23, 23, 0.998);
    color: white;
    height: 12rem;
    
}
.footer-nav , .footer-ubi , .footer-social{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 1rem;
    & h5{
        font-weight: 800;
    }
    & a{
        text-decoration: none;
        color: white;
    }
    & a:hover{
        text-decoration: underline;
        color:white;
    }
}