.suphead {
    margin-top: 1rem;
    display: flex;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1rem;

}
.suphead-logo{
    margin: 0.6rem;
}
.carro-carrito{
    margin: 0.3rem;
    & button{
        margin: auto auto;
        text-decoration: none;
        color: rgb(99, 99, 99);
    }
}

#btnbuscar:hover {
    background-color: transparent;
    color: black;
}
.login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    & button {
        margin: 0.3rem;
        text-decoration: none;
        color: rgb(99, 99, 99);
    }
}

/*NAV BAR*/

nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    & li {
        list-style: none;
        & a {
            text-decoration: none;
        }
    }
}

