/*Import reset*/
@import './reset';

// Import etiquetas base
@import './base';

// Import todo el header
@import './header';

// Import footer
@import './footer';

/*INDEX MAIN*/
@import './modules/main_index';

