/*Import reset*/
@import './reset';

// Import etiquetas base
@import './base';

// Import todo el header
@import './header';

// Import footer
@import './footer';

/*INDEX MAIN*/
@import './modules/main_index';

/*CONTACTO */
@import './modules/contacto';


// NOSOTROS
@import './modules/nosotros';

// PRODUCTOS
@import './modules/productos';

//media queries 375px to 546px
@import './modules/media_375pxTo546px';

