* {
    font-family: 'Roboto', sans-serif;

}
.suphead {
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.carro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1rem;
    }
#btnbuscar:hover{
    background-color: transparent;
    color: black;
}
.login {
    display: flex;
}
.login a {
    margin: auto auto;
    text-decoration: none;
    color: rgb(99, 99, 99);
}
.carro__a{
    height: 3.125rem;
    margin-bottom: 0.625rem;
}
.carro__a a {
    padding: 0rem 1rem;
    text-decoration: none;
}

/*NAV BAR*/
nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
}

/*SECCION INDEX*/
/*MAIN*/

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} 


.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 37rem;
    /* background-color: #d5cbc6; */
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    -webkit-box-shadow: 3px 2px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 16px 0px rgba(0,0,0,0.75);
    
}
.banner h1 {
    color: #383838;
    margin-bottom: 1rem;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-size: 130px;
    font-weight: 500;
    -webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.banner p {
   color: #383838;
   font-family: 'Tiro Devanagari Sanskrit', serif;
   font-size: 50px;
   text-align: center;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  
/* CARTAS INDEX */
.card {
    display: block;
    padding: 1rem;
    margin: 0.3rem;
    border: grey solid 2px;
    transition: all .3s ease-in-out;
    
    
}
.card:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.75);
    z-index: 2;
}

 #card__tabacos{
    background-image: url(./img/tabacos.jpg);
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*filter: blur(1px); */
 }
 #card__acc{
    background-image: url(./img/FUMAR-CIGARRILLOS-TABACO-ARMADO-9-75001_600x315.jpg);
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 #card__habanos{
    background-image: url(./img/cubano.jpg);
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }
/* .card:hover{
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    100%  {background-color:rgb(5, 5, 5);opacity: 10%;}
} */
#card__pipas{
    background-image: url(./img/1\ tPlRfJEGqIa473h_eqVJtg.jpeg);
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#card__armadores{
    background-image: url(./img/550px-nowatermark-Roll-a-Cigarette-With-a-Cigarette-Roller-Step-3-Version-4.jpg);
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#card__news{
    background-image: url(./img/cubano2.jpg);
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card h3:hover{
    opacity: 1;
}
.card h2{
    align-self: center;
    color: white;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    -webkit-text-stroke: 1px rgba(136, 130, 130, 0.507);
    font-weight: 600;
}
.card h3{
    align-self: center;
    display: block;
    text-align: center;
    background-color: rgba(235, 235, 235, 0.781);
    border-radius: 3px;
    width: 150px;
    z-index: 2;
    opacity: 0;
    transition: bottom .3s, opacity .3s cubic-bezier(.33,.66,.66,1); 
}
/*footer*/
.icon__footer {
    display: flex;
    justify-content: center;
}

/* SECCION NOSOTROS*/
.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem;
    margin: 1rem;
    background-color: transparent;
    border: 2px solid #383838;
    border-radius: 10px;
    -webkit-box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.75);
}
.nosotros p {
    text-align: center;
}



/*SECCION PRODUCTOS*/



.producto {
    display: block;
    margin: 3rem;
    padding: 0.4rem;
    width: 15rem;
    background-color: #f5f4f0;
    /*border radius*/
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border: 0px solid #d9ccd9;

}

.producto .producto__img {
    align-self: center;
    padding: 0.1rem;
    margin: 0.2rem;
}
.producto p {
    text-align: center;
}
/*SECCION FAQ*/

/*SECCION CONTACTO*/

.form_contact{
    width: auto;
    background-color: white;
    color:  rgb(99, 99, 99); 
    border: 2px solid rgb(99, 99, 99);
    border-radius: 4px; 
}
.formcont{
    /* width: 30rem; */
    margin: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.labelform{
    margin: 10px 10px 10px 10px;
}
input, textarea{
    border: 0;
    outline: none;
    padding: 10px;
}
.field{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 7px;
    width: 17rem;
}
.field:focus{
    border-color: rgb(99, 99, 99);
}
.imagen {
    max-width: 100%;
    max-height: 100%;
}

/* @media screen and (min-width: 375px) and (max-width: 500px){
    /*INDEX*/
    .suphead {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    nav ul li {
        padding: 0.3rem;
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .imagen {
        max-width: 100%;
        max-height: 100%;
    }
    .main__prod{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sec_productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sec_categoria ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
    }
    .sec_categoria ul li {
        margin-left: 10px;
        margin-right: 10px;
    }
    .contacto{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

} 