.form_contact{
    width: auto;
    background-color: white;
    color:  rgb(99, 99, 99); 
    border: 2px solid rgb(99, 99, 99);
    border-radius: 4px; 
}
.formcont{
    /* width: 30rem; */
    margin: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.labelform{
    margin: 10px 10px 10px 10px;
}
input, textarea{
    border: 0;
    outline: none;
    padding: 10px;
}
.field{
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 7px;
    width: 17rem;
}
.field:focus{
    border-color: rgb(99, 99, 99);
}
.imagen {
    max-width: 100%;
    max-height: 100%;
}
