.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} 


.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 37rem;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px outset #000000;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    // -webkit-box-shadow: 3px 2px 16px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: 3px 2px 16px 0px rgba(0,0,0,0.75);
    // box-shadow: 3px 2px 16px 0px rgba(0,0,0,0.75);
    
}
// .text-focus-in {
	
// }
.banner h1 {
    color: #383838;
    margin-bottom: 1rem;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-size: 8.125rem;
    font-weight: 500;
    -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.banner p {
    color: #383838;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-size: 3.125rem;
    text-align: center;
}


/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
        0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
        }
        100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
        }
}
@keyframes text-focus-in {
        0% {
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
        }
        100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
        }
}
    
/* CARTAS INDEX */
.card {
    display: block;
    padding: 1rem;
    margin: 0.3rem;
    border: grey solid 2px;
    transition: all .3s ease-in-out;
    
    
}
.card:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.75);
    z-index: 2;
}

#card__tabacos{
    background-image: url(../../img/tabacos.jpg);
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#card__acc{
    background-image: url(../../img/FUMAR-CIGARRILLOS-TABACO-ARMADO-9-75001_600x315.jpg);
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#card__habanos{
    background-image: url(../../img/cubano.jpg);
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#card__pipas{
    background-image: url(../../img/pipa_card.jpeg);
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#card__armadores{
    background-image: url(../../img/550px-nowatermark-Roll-a-Cigarette-With-a-Cigarette-Roller-Step-3-Version-4.jpg);
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#card__news{
    background-image: url(../../img/cubano2.jpg);
    width: 31.25rem;
    height: 18.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card h3:hover{
    opacity: 1;
}
.card h2{
    align-self: center;
    color: white;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    -webkit-text-stroke: 1px rgba(136, 130, 130, 0.507);
    font-weight: 600;
}
.card h3{
    align-self: center;
    display: block;
    text-align: center;
    background-color: rgba(235, 235, 235, 0.781);
    border-radius: 3px;
    width: 150px;
    z-index: 2;
    opacity: 0;
    transition: bottom .3s, opacity .3s cubic-bezier(.33,.66,.66,1); 
}

//------ FORMULARIO DE CONTACTO ------

.contacto-index{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
    & h2{
        margin: 1rem;
    }

}

.contacto-gral{
    background-color: rgba(0, 0, 0, 0.266);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.65rem;
}
.contacto-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
        & a{
        text-decoration: none;
        color: black;
        }
        & a:hover{
        text-decoration: underline;
        color:white;
        }

}
.form-contacto form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.65rem;
    border: 2px outset rgb(99, 99, 99);
    border-radius: 10px;
    & label{
        color: rgb(21, 21, 21);
        font-weight: 600;
    }
}

