@media screen and (min-width: 375px) and (max-width: 546px){
    /*INDEX*/
    .suphead {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    nav ul li {
        padding: 0.3rem;
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* cambios para el banner index*/
    .banner{
        height: 25rem;
    }
    .banner h1 {
        font-size: 2.5rem;
    }
    .banner p {
       font-size: 1.25rem;
    }
    .banner img{
        max-width: 50%;
        max-height: 50%;
    }
    /* fin banner index */

    /* cambios cards index */
    .card {
        display: block;
        padding: 1rem;
        margin: 0.3rem;
        border: grey solid 2px;
        transition: all .3s ease-in-out;
        
        
    }
    .card:hover{
        transform: scale(1.01);
        -webkit-box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.75);
        box-shadow: 11px 10px 16px 0px rgba(0,0,0,0.75);
        z-index: 2;
    }
    /* fin cambios card index */
    .cont_nosotros{
        display: flex;
        flex-direction: column;
    }
    .imagen {
        max-width: 100%;
        max-height: 100%;
    }
    .main__prod{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sec_productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sec_categoria ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
    }
    .sec_categoria ul li {
        margin-left: 10px;
        margin-right: 10px;
    }
    .contacto{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    //PRODUCTOS QUERIES
    .productos_all{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #contenedor--producto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
      
    }

    //footer queries
    .footer-contenedor{
        display: flex;
        flex-direction: column;
        
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        & h5{
            font-weight: 800;
            font-size: 1rem;
        }
        & a{
            font-size: 0.8rem;
            text-decoration: none;
            color: white;
        }
    }

} 