.cont_nosotros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;

}
.nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3rem;
    margin: 1rem;
    background-color: transparent;
    border: 2px solid #383838;
    border-radius: 10px;
    -webkit-box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 10px 5px 0px rgba(0,0,0,0.75);
    & p {
        text-align: center;
    }
}
