/*SECCION PRODUCTOS*/
.productos_all{
    display: flex;
    justify-content: center
}
.categoria_contenedor{
    width: 20rem;
}
.list_categorias{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 20rem;

}
.list_categorias a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #d9ccd9;
} 
.list_categorias a:hover{
    -webkit-box-shadow: 4px 4px 19px -4px rgba(0,0,0,0.55);
    -moz-box-shadow: 4px 4px 19px -4px rgba(0,0,0,0.55);
    box-shadow: 4px 4px 19px -4px rgba(0,0,0,0.55);
    color: #383838;

}
.producto_contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.producto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    margin: 1rem auto 1rem 1rem;
    padding: 0.4rem;
    width: 15rem;
    background-color: #f5f4f0;
    /*border radius*/
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border: 0px solid #d9ccd9;

}

 .producto__img {
    align-self: center;
    padding: 0.1rem;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.producto__img img{
    border-radius: 10px;
}
.producto h4 {
    font-size: 1.25rem;
    padding: 0.65rem;
}

.producto p {
    text-align: center;
}